
.park {
    position: relative;
    height: 80px;
    margin-top: 20px;
    overflow: hidden;
}

.person1 {
    position: absolute;
    font-family: monospace;
    font-size: 11px;
    white-space: nowrap;
    text-align: center;
    line-height: 1;
}

.person2 {
    animation: walk1 12s linear infinite;
    color: #1500ff;
}

@keyframes walk1 {
            0% { left: -30px; top: 10px; }
            25% { left: 50%; top: 10px; }
            50% { left: 80%; top: 40px; }
            75% { left: 30%; top: 40px; }
            100% { left: -30px; top: 10px; }
        }
